name: Caller

on: workflow_dispatch

jobs:
  CallProvider:
    runs-on: ubuntu-latest
  
    steps:
      - name: Checkout
        uses: actions/checkout@v3
    
      - name: "GetName"
        id: foo
        uses: actions/hello-world-composite-repository@v1
      
      - name: "DisplayName"
        run: echo "The value is ${{ steps.foo.outputs.name }}"
