name: Caller

on: workflow_dispatch

jobs:
  CallProvider:
    runs-on: ubuntu-latest
  
    steps:
      - name: "GetName"
        id: foo
        uses: ./.github/actions/action@v1
      
      - name: "DisplayName"
        run: echo "The value is ${{ steps.foo.outputs.name }}"
