name: Caller

on: workflow_dispatch

jobs:
  CallProvider:
    runs-on: ubuntu-latest
  
    steps:
      - name: Checkout
        uses: actions/checkout@v2
    
      - name: "GetName"
        id: foo
        uses: ./.github/actions/action
      
      - name: "DisplayName"
        run: echo "The value is ${{ steps.foo.outputs.name }}"
