# This workflow is called from another workflow

name: display parameters workflow

on:
  workflow_call:
    inputs:
      employee-name:
        required: true
        type: string
    secrets:
      pin:
        required: true
    outputs:
      status:
        description: some status code
        value: i'm feeling great
      

jobs:
  say-hello:
    runs-on: ubuntu-latest
    
    steps:
    - name: Echo Hello Message
      run: echo Hello ${{ inputs.employee-name }}
      
    - name: if pin equals 9999
      env:
        MY_PIN: ${{ secrets.pin }}
      if: env.MY_PIN == 9999
      run: echo "The pin is what u thought which is 9 9 9   9"
      
  say-goodybye:
    runs-on: ubuntu-latest
    
    steps:
    
      - name: Setting environment variable
        run: echo "weather=sunny" >> $GITHUB_ENV
        
      - name: Display env variable
        run: echo "the weather today is ${{ env.weather }}"
      
      - name: Echo Goodbye Message
        run: echo "Goodbye ${{ inputs.employee-name }}"
        shell: pwsh
