# This workflow will build a .NET project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-net

name: .NET test

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  DAY_OF_WEEK: Monday
  SOLUTION: ./HelloWorld.Solution
  ARTIFACT: ./HelloWorld.Solution/HelloWorld.Console/bin/Debug/net6.0
  FOO: blah

jobs:
  call_workflow:
    uses: zealous-technology/practicum-example/.github/workflows/sayhello.yml@main
    with:
      employee-name: Captain Kirk
      pin: ${{env.FOO}}


  build_test_upload:

    runs-on: ubuntu-latest
    #runs-on: windows-latest

    steps:
    - uses: actions/checkout@v3

    - name: Print Directory
      run: dir
 
    - name: Print Foo
      run: echo "Greeting First_Name. Today is $DAY_OF_WEEK!"
      env:
        DAY_OF_WEEK: Bob
        
    - name: Display the day of week with powershell
      run: echo "good morning, it's ${env:DAY_OF_WEEK}"
      shell: pwsh

    - name: Setup .NET
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: 6.0.x
        
    - name: Restore dependencies
      run: dotnet restore $SOLUTION
    
    - name: Build
      run: dotnet build $SOLUTION --no-restore
      
    - name: Test
      run: dotnet test $SOLUTION --no-build --verbosity normal
      
    - name: Upload Artifacts
      uses: actions/upload-artifact@v3
      with:
       name: my-artifact
       path: ./HelloWorld.Solution/HelloWorld.Console/bin/Debug/net6.0 
