on:
  workflow_dispatch
  
jobs:
  display_name:
    runs-on: ubuntu-latest
    
    steps:
      - uses: actions/checkout@v3
    
      - id: get-name
        uses: zealous-technology/my-action@v2
        
      - run: echo hello ${{ steps.get-name.output.name }}
        shell: bash
