name: secret-workflow

on: workflow_dispatch

env:
  FOO: ${{ secrets.ENABLED }}

jobs:
  Deploy:
    runs-on: ubuntu-latest
    environment: production
    steps:
      - name: display production vars
        run: echo "${{ vars.PROD_1 }} and ${{ vars.PROD_2 }}"
      

  DisplayEnabled:
    runs-on: ubuntu-latest
    steps:
      - name: Test
        run: echo "updatedddd....."
    
    
      - name: "DisplayEnabled"
        if: ${{ env.FOO == 'Y' }}
        run: echo "it is enabled"
      - name: "DisplayDisabled"
        if: ${{ env.FOO == 'N' }}
        run: echo "It is disabled"
        
      - name: "DisplayDisabledXXX"
        env:
          BAR: ${{ secrets.ENABLED }}
        if: ${{ env.BAR == 'N' }}
        run: echo "It is disabled, job scope env"
      
      - name: "Multiple"
        run: echo "var is ${{ vars.JOBTITLE }}"
      - run: echo "var is ${{ vars.FOUNDER }}"
      - run: echo "did u see it?"
      - run: echo "i think its a different step??"
        
      - name: display founder
        run: echo "${{ vars.FOUNDER }}"
                
      - name: List env variables
        run: env
