name: secret-workflow

on: workflow_dispatch

env:
  FOO: false

jobs:
  DisplayEnabled:
    runs-on: ubuntu-latest
    steps:
      - name: Test
        run: echo "Hello"
    
    
      - name: "DisplayEnabled"
        if: ${{ env.FOO }}
        run: echo "it is enabled"
      - name: "DisplayDisabled"
        if: ${{ !env.FOO }}
        run: echo "It is disabled"
