name: secret-workflow

on: workflow_dispatch

env:
  FOO: ${{ secrets.ENABLED }}

jobs:
  DisplayEnabled:
    runs-on: ubuntu-latest
    steps:
      - name: Test
        run: echo "updated....."
    
    
      - name: "DisplayEnabled"
        if: ${{ env.FOO == 'Y' }}
        run: echo "it is enabled"
      - name: "DisplayDisabled"
        if: ${{ env.FOO == 'N' }}
        run: echo "It is disabled"
        
      - name: "DisplayDisabledXXX"
        env:
          BAR: ${{ secrets.ENABLED }}
        if: ${{ env.BAR == 'N' }}
        run: echo "It is disabled, job scope env"
        
      - name: List env variables
        run: env
