name: secret-workflow

on: workflow_dispatch

jobs:
  DisplayEnabled:
    runs-on: ubuntu.latest
    steps:
      - name: "DisplayEnabled"
        if: ${{ secrets.ENABLED }}
        run: echo "it is enabled"
      - name: "DisplayDisabled"
        if: ${{ !secrets.ENABLED }}
        run: echo "It is disabled"
